In [9]:
import json

# Reading data from myData.json file
with open('myData.json', 'r') as file:
    data = json.load(file)

# Displaying the entire data
print("Data from JSON file:")
print(data)

# Extracting info for each friend
for person in data["myFriends"]:
    name = person["name"]
    age = person["age"]
    city = person["city"]
    skills = person["skills"]

    # Displaying extracted information for each friend
    print(f"\nInformation for {name}:")
    print(f"Name: {name}")
    print(f"Age: {age}")
    print(f"City: {city}")
    print(f"Skills: {', '.join(skills)}")

Data from JSON file:
{'myFriends': [{'name': 'Vaibhav Patidar', 'age': 23, 'city': 'Indore', 'skills': ['Python', 'Azure']}, {'name': 'Vinayak Panchal', 'age': 21, 'city': 'Chennai', 'skills': ['Java', 'Angular']}, {'name': 'Shashank Bhadouriya', 'age': 20, 'city': 'Mhow', 'skills': ['ReactJs', 'GCP']}]}

Information for Vaibhav Patidar:
Name: Vaibhav Patidar
Age: 23
City: Indore
Skills: Python, Azure

Information for Vinayak Panchal:
Name: Vinayak Panchal
Age: 21
City: Chennai
Skills: Java, Angular

Information for Shashank Bhadouriya:
Name: Shashank Bhadouriya
Age: 20
City: Mhow
Skills: ReactJs, GCP

# READING DATA OF myStudents.CSV FILE

In [10]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\vaibhav\appdata\local\programs\python\python311\lib\site-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\vaibhav\appdata\local\programs\python\python311\lib\site-packages (from pyspark) (0.10.9.7)

In [12]:
from pyspark.sql import SparkSession

# Spark session
spark = SparkSession.builder.appName("myStudentData").getOrCreate()

# Reading CSV file into a DataFrame
myStudents_df = spark.read.csv('myStudents.csv', header=True, inferSchema=True)

# Showing the DataFrame 
myStudents_df.show()
spark.stop()

+------------+---+---------+-----+
|        Name|Age|     City|Grade|
+------------+---+---------+-----+
|Aarav Sharma| 22|    Delhi|    A|
| Aditi Patel| 23|   Mumbai|    B|
|Arjun Kapoor| 24|Bangalore|    C|
|Ishaan Verma| 21|  Chennai|    A|
|  Neha Singh| 25|Hyderabad|    B|
+------------+---+---------+-----+

# CREATING DATABASE AND TABLE USING SPARK SQL

In [14]:
# Creating a database
spark.sql("CREATE DATABASE IF NOT EXISTS employee_db")
spark.sql("USE employee_db")

# Creating a DataFrame
data = [("Hema", 22, "Software Engineer", "Senior"),
        ("Tanzeel", 20, "Data Engineer", "Intern"),
        ("Abhiram", 19, "Bangalore", "Junior")]

columns = ["Name", "Age", "Stream", "Designation"]

employee_df = spark.createDataFrame(data, columns)

# Create a table in the database
employee_df.createOrReplaceTempView("employee_table")

# Showing the data
result = spark.sql("SELECT * FROM employee_table")
result.show()

AttributeError: 'NoneType' object has no attribute 'sc'

In [17]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("SparkSQLExample").getOrCreate()

# Define some sample data
data = [("John Doe", 25, "Example City", "A"),
        ("Jane Smith", 30, "Sample Town", "B"),
        ("Bob Johnson", 28, "Testville", "C")]

# Define the schema for the DataFrame
schema = ["Name", "Age", "City", "Grade"]

# Create a DataFrame
df = spark.createDataFrame(data, schema=schema)

# Register the DataFrame as a temporary table
df.createOrReplaceTempView("students1_table")

# Create a database
spark.sql("CREATE DATABASE IF NOT EXISTS mydatabase")

# Switch to the created database
spark.sql("USE mydatabase")

# Create a table within the database
spark.sql("""
    CREATE TABLE IF NOT EXISTS students1 (
        Name STRING,
        Age INT,
        City STRING,
        Grade STRING
    )
""")

# Show the created database and table
spark.sql("SHOW DATABASES").show()
spark.sql("SHOW TABLES IN mydatabase").show()

# Stop the Spark session
spark.stop()

AnalysisException: [NOT_SUPPORTED_COMMAND_WITHOUT_HIVE_SUPPORT] CREATE Hive TABLE (AS SELECT) is not supported, if you want to enable it, please set "spark.sql.catalogImplementation" to "hive".;
'CreateTable `spark_catalog`.`mydatabase`.`students1`, org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe, Ignore

In [19]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("DatabaseExample").getOrCreate()

# Create a database named "my_database"
spark.sql("CREATE DATABASE IF NOT EXISTS my_database2")

# Use the database
spark.sql("USE my_database2")

DataFrame[]

In [21]:
# Create a table with specific column definitions
spark.sql("""
CREATE TABLE IF NOT EXISTS employees1 (
  id INT,
  name STRING,
  salary DECIMAL(10, 2)
)
""")

ParseException:
[PARSE_SYNTAX_ERROR] Syntax error at or near ' ': extra input ' '.(line 5, pos 20)

== SQL ==

CREATE TABLE IF NOT EXISTS employees1 (
  id INT,
  name STRING,
  salary DECIMAL(10, 2)
--------------------^^^
)

In [22]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import concat_ws, rand, floor, col

spark = SparkSession.builder.appName("CustomerData").getOrCreate()

csv_file_path = "C:/Users/vaibhav/Desktop/codingAssessment_3/myCustomers.csv"

customer_data = spark.read.csv(csv_file_path, header=True)

# Display the data of customers with age <= 30
filtered_data = customer_data.filter(col("Age") >= 30)
filtered_data.show(truncate=False)

+-------+----------+----------+-------------------+--------------+---+
|cust_id|cust_fname|cust_lname|cust_order_quantity|payment_status|age|
+-------+----------+----------+-------------------+--------------+---+
|2      |Rahul     |Sharma    |8                  |unpaid        | 32|
|3      |Priya     |Singh     |3                  |paid          | 30|
|4      |Arjun     |Verma     |6                  |unpaid        | 45|
+-------+----------+----------+-------------------+--------------+---+

In [23]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

spark = SparkSession.builder.appName("GroupByPaymentStatus").getOrCreate()

csv_file_path = "C:/Users/vaibhav/Desktop/codingAssessment_3/myCustomers.csv"

customer_data = spark.read.csv(csv_file_path, header=True)

# Group the data based on payment_status
grouped_data = customer_data.groupBy('payment_status').agg(
    {"cust_id": "count",
     "cust_order_quantity": "sum",
     "age": "avg"}
)

# Display the grouped data
grouped_data.show()

# Stop the Spark session
spark.stop()

+--------------+------------------------+--------------+------------------+
|payment_status|sum(cust_order_quantity)|count(cust_id)|          avg(age)|
+--------------+------------------------+--------------+------------------+
|        unpaid|                    18.0|             3|32.666666666666664|
|          paid|                    27.0|             5|              22.2|
+--------------+------------------------+--------------+------------------+